<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('./component/head',{title:'register'})%>
</head>
<body>
    <%-include ('./component/header')%>
    <h1>Register</h1>
    <input type="text" placeholder="register">

    <button type="button" class="btn btn-warning">Register</button>
</body>
</html>